.PageHeader {
  width: 100%;
  display: flex; 
  justify-content: center;
  padding: 1em 0;
  background-color: rgb(19, 99, 99);
  color: #fff;
}

.page-title {
  
}

.PageHeader-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  display: inline-block;
  margin: 0 0.25em;
}

